.modal-container {
  .modal {
    &-wrapper {
      z-index: 999;
    }

    &-content {
      padding: 0 !important;
    }

    /* header */
    &-header {
      padding: 5px 0;
      color: #666;
      text-indent: 2em;
      background-color: #fdfdfd;
      border-radius: 5px 5px 0 0;

      .title {
        height: 40px;
        line-height: 40px;
      }

      .action {
        padding-top: 10px;
        margin-right: 10px;
      }
    }

    &-body {
      padding: 15px 30px;
    }
  }
}
